* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
  padding: 30px;
}

.parent {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  height: 400px;
  width: 300px;
  border-radius: 30px;
  background-color: white;
  padding: 10px;
}

.top{
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top img {
  height: 32px;
  width: 50px;
  /* border-radius: 50%; */
  object-fit: contain;
}

.top button {
  height: 30px;
  border-radius: 10px;
  border: none;
  display: flex;
  padding: 5px;
  align-items: center;
}

.center {
  padding: 40px 10px;
}

.center span {
  font-size: 10px;
  font-weight: lighter;
}

.center div {
  display: flex;
  justify-content: start;
  gap: 5px;
  padding: 10px ;
}

.center h4 {
  background-color:bisque;
  padding: 5px;
  font-size: 12px;
  border-radius: 5px;
  font-weight: 50;
}

.bottom {
  /* background-color: beige; */
  margin: 85px 0px;
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid lightgray;
}

.bottom h3 {
  font-weight: 400;
}

.bottom p {
  font-size: 10px;
  font-weight: lighter;
}

.bottom button {
  height: 25px;
  width: 88px;
  padding: 5px;
  font-size: 13px;
  color: white;
  background-color: #333;
  border: none;
  border-radius: 5px;
}

