* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background-color:grey;
}

.nav div{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}