* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}

button {
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
}

h1 {
  padding: 10px;
  margin: 20px;
  width: fit-content;
  border-radius: 5px;
  background-color: gainsboro;
}

